body {
  margin: 0;
  background-color: green;
}


.gay {
  color: blue;
  text-align: center;
}

.hyper {
  position: fixed;
  right: 800px;
  width: 600px;
  border: red 10px solid;
}

.hyper:hover {
  position: fixed;
  right: 800px;
  width: 700px;
  border: green 10px solid;
}